<app-header></app-header>

<form  class="container">
  <h1 class="text-center">Photos par Jour</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Annee</label>
      <input type="text" class="form-control"  aria-describedby="annee" name="annee" [(ngModel)]="annee">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Mois</label>
        <input type="text" class="form-control"  aria-describedby="mois" name="mois" [(ngModel)]="mois">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Jour</label>
        <input type="text" class="form-control"  aria-describedby="jour" name="jour" [(ngModel)]="jour">
    </div> 
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="dateChange()">Envoyez</button>
    </div>
  </form>
<app-list-images [marsPhotos] = "marsPhotos">
</app-list-images>

<app-footer></app-footer>