<app-header></app-header>
<section id="contact">
    <div class="contact-box">
      <div class="contact-links">
        <h2>CONTACT</h2>
        <h3>Une question ? Une suggestion ? Contactez-nous directement via ce formulaire !</h3>
      </div>
      <div class="contact-form-wrapper">
        <form>
          <div class="form-item">
            <input type="text" name="sender" required>
            <label>Nom:</label>
          </div>
          <div class="form-item">
            <input type="text" name="email" required>
            <label>Email:</label>
          </div>
          <div class="form-item">
            <textarea class="" name="message" required></textarea>
            <label>Message:</label>
          </div>
          <button class="submit-btn">Envoyer</button>  
        </form>
      </div>
    </div>
  </section>
<app-footer></app-footer>
