<app-header></app-header>
<p>Photos par jours</p>
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Jour</label>
      <input type="text" class="form-control"  aria-describedby="emailHelp" name="jour" [(ngModel)]="jour">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> mois</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp" name="mois" [(ngModel)]="mois">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> année</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp" name="annee" [(ngModel)]="annee">
    </div> 
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
<app-list-images [marsPhotos] = "marsPhotos">
</app-list-images>

<app-footer></app-footer>